@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
h1, h2, h3, h4, h5, h6, p, ul{
	margin: 0px;
	padding: 0px;
}

:root {
	--theme-main: #9D3BB4;
	--theme-gray: #625F74;
	--theme-black: #1E1B39;
    --theme-offwhite: #E1E1E6;
	--white: #fff;
}
body{
	background: #fff;
	color: var(--theme-black);
	font-family: 'Gilroy';
    font-weight: normal;
    position: relative;
    min-height: 100vh;
}
a{
	display: inline-block;
	text-decoration: none !important;
	transition: .3s ease;
}
button{
    transition: .3s ease;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
input:focus{
    border: 1px solid var(--theme-main) !important;
}
.container {
    width: 335px;
    padding: 0;
}
section{
    width: 100%;
    margin: 0 auto;
}
.top-option-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-option-profile img {
    width: 30px;
    height: 30px;
    border: 2px solid var(--theme-main);
    border-radius: 100%;
}
.top-option-title h2 {
    font-size: 20px;
    font-weight: 600;
}
.power-uses-graph {
    height: 178px;
    width: 178px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient( 
131.06deg
 , #F9E1FF 14.5%, #F2F5FF 84.95%);
    box-shadow: inset 11px 9px 19px rgb(255 68 0 / 10%);
    position: relative;
    margin-right: 20px;
}
.power-uses-graph-info p {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-gray);
}
.power-uses-graph-info {
    width: 113px;
    height: 113px;
    background: #FFFFFF;
    box-shadow: 4px 0px 50px rgb(157 59 180 / 30%);
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.font-12{
	font-size: 12px !important;
	line-height: 15px !important;
}
.power-uses-graph-info h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-main);
    margin-top: 2px;
    margin-bottom: 0px;
}
.power-uses-graph span {
    position: absolute;
    width: 176.33px;
    height: 178.39px;
    left: 50%;
    top: 50%;
    background: linear-gradient( 
199.62deg
 , #FBC799 14.47%, #9D3BB4 85.82%);
    border-radius: 114px;
    transform: translate(-50%, -50%);
}
.power-uses-graph svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: rotate( 
276deg
 );
}
.power-uses-graph svg circle
{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: transparent;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.power-uses-graph svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.power-uses-graph:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: url(#paint0_linear);
  position: absolute;
}
section#power-usage {
    margin-top: 20px;
}
.offcanvas-start {
    top: 0;
    left: 0;
    width: 255px;
    border-right: 1px solid rgba(0,0,0,.2);
    transform: translateX(-100%);
}
.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: #1E1B39;
}
.offcanvas-backdrop.show {
    opacity: .8;
}
.power-usage-right-content h4 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: left;
    font-weight: 500;
}
.power-usage-right-content h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
}
.power-usage-right-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.power-usage-right-image img {
    width: 41px;
    border-radius: 100%;
}
.power-usage-right-content {
    width: 100%;
    margin-left: 10px;
}
.power-usage-right-wraper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.power-use-sec-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-btn {
    height: 40px;
    left: 4846px;
    top: -1128px;
    border-radius: 6px;
    text-align: center;
    /* padding: 5px; */
    background: #9D3BB4;
    color: #fff !important;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-w-100{
	width: 100%;
}

.hover-shadow:hover{
	box-shadow: 3px 9px 25px rgba(157, 59, 180, 0.5) !important;
}
.shadow{
	box-shadow: 3px 9px 25px rgba(157, 59, 180, 0.5) !important;
}
.power-comsumption-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.power-comsumption-title h4 {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
}

.power-comsumption-wraper .nice-select {
    border-radius: 5px;
    border: solid 1px #BBBBC4;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    line-height: 29px;
    padding-left: 18px;
    padding-right: 30px;
}

.nice-select:after {
    border-bottom: none;
    border-right: none;
    content: '';
    display: block;
    height: 15px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 12px;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 15px;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
}
.nice-select.open:after {
    -webkit-transform: rotate(
-135deg
);
    -ms-transform: rotate(-135deg);
    transform: rotate(
182deg
);
    right: 11px;
    top: 7px;
}
.power-comsumption-wraper .nice-select .list {
    right: 0;
    left: inherit;
    padding: 0px 10px;
    background: #fff;
    box-shadow: 0px 0px 20px rgb(157 59 180 / 15%);
    border-radius: 15px 0px 0px 15px;
    margin-top: 10px;
}
.power-comsumption-wraper .nice-select .list li {
    text-align: right;
    padding: 0px 0px;
    padding-left: 30px;
    border-bottom: 1px solid var(--theme-offwhite);
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: transparent;
}
.nice-select .list li:last-child{
	border-bottom: none;
}
section#power-comsumption .container {
    border-radius: 15px;
}
section#power-comsumption {
    margin-top: 35px;
}
.power-comsumption-data-month-name {
    display: flex;
}
.power-comsumption-data {
    overflow-x: auto;
}
.power-comsumption-data p{
	font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: left;
    font-weight: 600;
}
.power-comsumption-data-kwh-number p {
    border-bottom: 1px solid var(--theme-offwhite);
    margin-bottom: 28px;
    margin-top: 28px;
    line-height: 0px;
    position: relative;
}
.power-comsumption-data-kwh-number p span {
    background: #ffffff;
    min-width: 60px;
    min-height: 20px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    /* top: 50%; */
    transform: translate(0px, -50%);
    z-index: 10;
    padding: 15px 0px;
    margin-left: -1px;
}
.power-comsumption-data-month-name p {
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
}
.power-comsumption-data-month {
    margin-left: 60px;
    width: 435px;
    margin-top: -10px;
}
.power-comsumption-data-month-name p:first-child{
	margin-left: 0px;
}
.power-comsumption-data-kwh-number {
    width: 495px;
}
.power-comsumption-data-month-name p span {
    position: absolute;
    width: 6px;
    height: 100px;
    left: 50%;
    bottom: 32px;
    background: linear-gradient(
180deg
, #9D3BB4 0%, #FCC899 100%);
    transform: translate(-50%, 0px);
    border-radius: 30px 30px 0px 0px;
}

/* width */
.power-comsumption-data::-webkit-scrollbar {
  width: 0px;
}
.progress-wraper {
    flex-direction: column;
    display: flex;
    width: 178px;
    position: relative;
}

.progress {
    position: relative;
    transform: rotate(
-90deg
);
    height: auto;
    height: 178px;
    width: 178px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient( 
131.06deg
 , #F9E1FF 14.5%, #F2F5FF 84.95%);
    box-shadow: inset 11px 9px 19px rgb(255 68 0 / 10%);
    position: relative;
    margin-right: 20px;
}
.progress-meter,
.progress-value {
  fill: none;
}

.progress-meter {
  stroke: transparent;
}

.progress-value {
  /* stroke: blue; */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.progress-inner {
    width: 113px;
    height: 113px;
    background: #FFFFFF;
    box-shadow: 4px 0px 50px rgb(157 59 180 / 30%);
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.progress-inner p {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-gray);
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-inner span {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-gray);
}
.progress-inner h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-main);
    margin-bottom: 0px;
    margin-top: 7px;
}
.power-comsumption-data-kwh-number p:last-child {
    border-bottom: 1px solid var(--theme-black);
    z-index: 1;
}
.add-device-link a {
    padding: 0px 35px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
    height: 56px;
}
.add-device-link {
    text-align: center;
    margin-top: 53px;
    margin-bottom: 50px;
}
.powered-by p {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #9d3bb4;
    margin-top: 33px;
    font-weight: 600;
    margin-bottom: 10px;
}
.top-logo-with-content {
    text-align: center;
    margin-top: 40px;
}
.top-logo-with-content img {
    width: 157px;
    margin-bottom: 20px;
}
.top-logo-with-content p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-gray);
    margin-bottom: 7px;
}
.input-form-wraper {
    background: #FFFFFF;
    box-shadow: 0px -3px 35px rgb(157 59 180 / 12%);
    border-radius: 12px;
    padding: 25px 20px;
}
.form-title h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: center;
}
.input-design input::placeholder{
    color: var(--theme-gray);
}
.form-input.input-design input {
    background: #F3F3F7;
    border-radius: 8px;
    border: 1px solid #F3F3F7;
    padding: 16px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--theme-gray);
    transition: .3s ease;
}
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 29px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    line-height: 21px;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #1E1B39;
}
.checkbox-label input:checked ~ .checkmark {
    background-color: transparent;
    border: 1 px solid #1E1B39;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-label .checkmark:after {
    left: 50%;
    top: 50%;
    width: 13px;
    height: 10px;
    background: url(../images/check.svg) no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
}
.forget-pass-link a {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-main);
}
.custom-flex-with-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-btn-full {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 100%;
    padding: 18px 0px;
    border: none;
    background: var(--theme-main);
    color: #fff;
    border-radius: 8px;
}
.input-form-wraper form button {
    margin-top: 10px;
}
.cmt-50{
    margin-top: 50px;
}
.screen-mid-content {
    position: relative;
}
.screen-mid-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: #9D3BB4;
}
.screen-mid-content > div {
    position: relative;
    z-index: 1;
}
.screen-mid-content-footer-icons img {
    margin-left: 9px;
    margin-right: 10px;
    opacity: .2;
}
.screen-mid-content-footer-icons {
    text-align: center;
    margin-top: 20px;
}
.footer-bottom-link p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white);
}
.footer-bottom-link a {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--theme-main);
    margin-left: 10px;
}
.footer-bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}
.color-white p{
    color: var(--white) !important;
}
.button-on-input {
    position: relative;
    clear: both;
}
.button-on-input span, .button-on-input button {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translate(0px, -50%);
    z-index: 10;
    border: none;
    padding: 0px;
    background: transparent;
    cursor: pointer;
}
label.checkbox-label {
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-radio-form button {
    margin-top: 30px !important;
}
.input-radio-form .form-title {
    margin-bottom: 20px;
}
.otp-screen .screen-mid-content-footer-icons {
    text-align: center;
    margin-top: 76px;
    margin-bottom: 50px;
}
.opt-input-box {
    display: flex;
    justify-content: space-between;
}
.form-input.input-design.opt-input-box input {
    padding: 16px 10px;
    width: 14%;
    text-align: center;
    font-weight: 600;
}
.form-title p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-gray);
    margin-bottom: 7px;
}
.theme-link {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--theme-main);
}
.resend-otp {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -10px;
}
.sidebar-menu-profile {
    display: flex;
    align-items: center;
}
.sidebar-menu-profile .top-option-profile img {
    width: 39px;
    height: 39px;
}
.sidebar-user-name h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--theme-main);
}
.sidebar-user-name span {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--theme-gray);
}
.sidebar-user-name {
    margin-left: 13px;
}
.offcanvas-header button {
    padding: 0pc;
    background: transparent;
    border: none;
}
.sidebar-menu ul {
    list-style: none;
}
.sidebar-menu a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-black)
}
.sidebar-menu a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-black);
    display: inline-flex;
    align-items: center;
    margin-bottom: 14px;
    margin-top: 14px;
}
.sidebar-menu a svg {
    margin-right: 13px;
}
.sidebar-menu ul{
    border-top: 1px solid var(--theme-offwhite);
    border-bottom: 1px solid var(--theme-offwhite);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
}
.offcanvas-header {
    margin-top: 4px;
}
.logout-link a {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #FFA95E;
}
.logout-link {
    padding-top: 30px;
    padding-bottom: 20px;
}
.active-device-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active-device-item-info h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: var(--theme-black);
}
.active-device-item-info span {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--theme-gray);
}
.active-device-item-info {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
}
.active-device-item-switch .switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
}
.active-device-item-switch .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.active-device-item-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFA95E;
    -webkit-transition: .4s;
    transition: .4s;
}
.active-device-item-switch .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.active-device-item-switch input:checked + .slider {
    background-color: var(--theme-main);
}
.active-device-item-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(24px);
}
.active-device-item-switch .slider.round {
    border-radius: 34px;
}
.active-device-item-switch .slider.round:before {
    border-radius: 50%;
}
.active-device-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--theme-offwhite);
    padding-top: 25px;
    padding-bottom: 25px;
}
.active-device-item:first-child{
    border-top: none;
}
.active-devices-list {
    background: linear-gradient( 
180deg
 , #F3F3F7 0%, #FFFFFF 55.62%, #FFFFFF 100%);
    border-radius: 20px 20px 0px 0px;
    padding: 0px 15px;
    margin-bottom: 70px;
}
section#active-devices {
    margin-top: 30px;
    margin-bottom: 0;
}
.connection-setup-header .nav {
    background: #F3F3F7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.connection-setup-header .nav li {
    width: 50%;
}
.connection-setup-header .nav li button {
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding: 14px 0px;
    background: transparent;
    border-radius: 8px;
    color: var(--theme-gray)
}
.nav-link.active {
    background: #9D3BB4 !important;
    border-radius: 8px;
    color: #fff !important;
}
.available-networks-wraper h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--theme-gray);
    margin-bottom: 35px;
}
.network-content {
    margin-top: 40px;
    margin-bottom: 100px;
}
.available-networks-item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.available-networks-item-name h3 {
    font-size: 17px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0.03em;
    margin-left: 20px;
}
.available-networks-item-left-info {
    display: flex;
    align-items: center;
}
.available-networks-item-right-info .theme-link {
    font-size: 16px !important;
}
.available-networks-item {
    border-bottom: 1px solid var(--theme-offwhite);
    padding: 20px 0px;
}
.available-networks-item:last-child{
    border-bottom: none;
}
.available-networks-connect-info{
    margin-top: 15px;
}
.form-input.input-design input{
    border: 1px solid #1e1b391a;
}
.available-networks-connect-info button {
    margin-top: 8px;
}
div#bluetooth .available-networks-item-right-info .theme-link {
    background: #9D3BB4;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
}
div#bluetooth .available-networks-item-right-info .theme-link:hover{
    box-shadow: 3px 9px 25px rgba(157, 59, 180, 0.5) !important;
}
/*section#footer .powered-by {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
}*/
.connection-setup-header {
    border-top: 1px solid var(--theme-offwhite);
    padding-top: 25px;
    margin-top: 10px;
}
section#footer {
    bottom: 0;
    position: absolute;
}
.select-option-design label {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.select-option-design .nice-select {
    width: 100%;
}
.select-option-design .nice-select {
    width: 100%;
    border: 1px solid #625F74;
}
.select-option-design .nice-select {
    width: 100%;
    border: 1px solid #625F74;
    height: 58px;
    line-height: 58px;
}
.select-option-design .nice-select {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.select-option-design ul.list {
    width: 100%;
    background: #F3F3F7;
    border-radius: 8px;
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid var(--theme-main);
    border-top: 0px;
    box-shadow: none;
    padding: 0px 19px;
}
.select-option-design li.option {
    border-bottom: 1px solid var(--theme-offwhite);
    padding: 19px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.03em;
    position: relative;
    z-index: 5;
}
.select-option-design .nice-select:after {
    right: 7px;
    top: 26px;
}

.select-option-design .nice-select.open:after {
    right: 11px;
    top: 18px;
}
.select-option-design label {
    background: white;
    position: relative;
    top: 11px;
    z-index: 1;
    left: 13px;
    padding: 0px 7px;
}
.nice-select .option.selected {
    font-weight: 600;
}
.nice-select.open{
    border: 1px solid var(--theme-main);
}
.voltage-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.voltage-wraper {
    display: flex;
    align-items: center;
    clear: both;
    margin-top: 80px;
    justify-content: space-between;
}
.voltage-input button {
    padding: 0;
    border: none;
    background: transparent;
}
.voltage-wraper > div {
    position: relative;
    border: 1px solid #1E1B39;
    border-radius: 8px;
    width: 48%;
    padding: 0px 15px;
}
.voltage-wraper label {
    background: white;
    position: absolute;
    top: -8px;
    z-index: 1;
    left: 13px;
    padding: 0px 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.voltage-wraper input {
    background: transparent !important;
    padding: 10px !important;
    border: none !important;
    text-align: center !important;
}
.add-device-done button {
    background: #9D3BB4;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    padding: 18px 74px;
}
.add-device-done {
    text-align: center;
    margin-top: 50px;
}
.add-device-form-wraper {
    margin-bottom: 65px;
}
.data-view-per-device {
    margin-bottom: 75px;
}
.opacity-3{
    opacity: .3;
}
.change-password-footer-icons {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}
.change-password-footer-icons img{
    opacity: .2;
}
.change-password-main .input-form-wraper {
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}
.change-password-main {
    border-top: 1px solid var(--theme-offwhite);
    margin-top: 10px;
    padding-top: 20px;
}
.cancel-btn {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 100%;
    padding: 18px 0px;
    color: var(--themeblack);
    border-radius: 8px;
    border: 1px solid;
    margin-top: 40px;
    margin-bottom: 10px;
    background: transparent;
}
.grant-user-access-otp-title h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--theme-gray);
    margin-bottom: 20px;
}
.button-on-input.calender-input span {
    opacity: .3;
}
.schedule-time-wraper {
    clear: both;
    display: flex;
    justify-content: space-between;
}
.schedule-time h2 {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-gray);
    margin-bottom: 15px;
}
.schedule-time {
    background: #F3F3F7;
    border-radius: 12px;
    padding: 20px;
    margin-top: 80px;
}
.schedule-time-wraper label {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.schedule-time-wraper .nice-select {
    width: 100%;
}
.schedule-time-wraper .nice-select:after {
    height: 22px;
    margin-top: -4px;
    right: 0px;
    top: 7px;
    width: 22px;
    background: url(../images/clock-yellow.svg) no-repeat;
    background-size: cover;
}
.schedule-time-wraper .nice-select.open:after {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
    right: 0px;
    top: 7px;
}
.schedule-time-wraper .nice-select {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding: 0px;
    border: none;
    background: transparent;
    height: 30px;
    line-height: 30px;
}
.schedule-time-wraper > div {
    width: 47%;
    border: 1px solid #FFA95E;
    border-radius: 8px;
    padding: 10px 15px;
    background: #fff;
}
.schedule-time-wraper .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    width: 100%;
    margin-top: 10px;
    border-radius: inherit;
    box-shadow: none;
    background: #f3f3f7;
    border: 1px solid #FFA95E;
    border-top: none;
    border-radius: 0px;
}
.calender-input {
    margin-top: 70px;
}
.device-warranty-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    padding: 12px 20px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 5%);
}
.device-warranty-list-item-name h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-black);
}
.device-warranty-list-item-info p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--theme-gray);
}
.device-warranty-list-item-info h4 {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-main);
    margin-top: 5px;
}
.device-warranty-list-item-info {
    text-align: right;
}
.device-warranty-list.active-devices-list.wow.fadeInUp {
    padding-top: 20px;
}
.device-warranty-info h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-gray);
}
.device-warranty-info p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-black);
}
.device-warranty-info > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.device-warranty-wraper {
    border-top: 1px solid var(--theme-offwhite);
    margin-top: 10px;
    padding-top: 10px;
}
.device-warranty-status {
    background: #FFA95E;
    border-radius: 8px;
    color: #fff;
    padding: 20px 20px;
    margin-top: 40px;
}
.device-warranty-status h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 22px;
}
.device-warranty-status h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #ffffffd1;
}
.device-warranty-status p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
}
.device-warranty-status > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.warranty-issue-message textarea {
    width: 100%;
    height: 186px;
    background: rgba(30, 27, 57, 0.03);
    border: 1px solid #1E1B39;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    margin-top: 28px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: var(--theme-black);

}
.warranty-issue-message textarea::placeholder{
    color: var(--theme-gray);
}
.warranty-issue-message button {
    background: #9D3BB4;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding: 18px 67px;
    margin-top: 30px;
}
.warranty-issue-message {
    margin-bottom: 80px;
}
.warranty-expaired h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 0px;
}
.warranty-expaired {
    width: 100%;
    display: block !important;
    margin-bottom: 0px !important;
}
.repair-link a {
    background: #9D3BB4;
    border-radius: 8px;
    color: #fff;
    padding: 18px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;

}
.grand-user-access-device-item label.checkbox-label {
    margin-top: 0px;
    margin-bottom: 20px;
}
.grant-access-btn a {
    background: #9D3BB4;
    border-radius: 8px;
    color: #fff;
    padding: 18px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
}